:root {

    --primary-background-color: #D4D3DC;
    --primary-main-color: #384454;
    
    --secondary-background-color: #E1A624;
    --primary-main-color: #384454;

    --tercary-color: #317AC1;

    --palette1: #E1A624;
    --palette2: #317AC1;
    --palette3: #384454;
    --palette4: #D4D3DC;
    --palette5: #AD956B;
}
